.App {
  text-align: center;
}

.App h2 {
  font-size: 48px;
  line-height: 1.2em;
  margin: 40px 20px;
}

.App h4 {
  font-size: 18px;
}

.App img {
  margin-bottom: 40px;
  width: 100%;
  max-width: 500px;
}

.App .textarea-container {
  margin: 20px 20px 0 20px;
  text-align: center;
}

.App textarea {
  background-color: #fcfcfc;
  border: 2px solid #333;
  border-radius: 6px;
  font-size: 14px;
  height: 80px;
  padding: 10px;
  resize: none;
  width: 380px;
  max-width: 90%;
}

.App .prompt {
  border-bottom: 1px solid #333;
  font-size: 18px;
  padding-bottom: 40px;
  margin: 0 40px 40px 40px;
}

.App #ily-count {
  font-size: 64px;
  margin: 40px;
}