.App {
  text-align: center;
}

.App h2 {
  font-size: 48px;
  line-height: 1.2em;
  margin: 60px 20px;
}

.App .textarea-container {
  margin: 20px;
  text-align: center;
}

.App button {
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fcfcfc;
  background-color: #ad235e;
  border: 2px solid #333;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 18px;
  min-width: 200px;
  cursor: pointer;
}

.App button:hover {
  background-color: #c4709d;
}

.App img {
  margin-bottom: 60px;
  width: 100%;
  max-width: 500px;
}

.App textarea {
  background-color: #fcfcfc;
  border: 2px solid #333;
  border-radius: 6px;
  font-size: 14px;
  height: 80px;
  padding: 10px;
  resize: none;
  width: 380px;
  max-width: 90%;
}

.App #ily-count {
  font-size: 64px;
  margin: 40px;
}