@font-face {
  font-family: 'Fax Sans Beta';
  src: url('/Fax-Sans-Beta.otf');
}

body {
  background-color: #C8D4E1;
  color: #222;
  margin: 0;
  padding: 0;
  font-family: 'Fax Sans Beta',sans-serif;
}